@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* fonts*/
    --font1: 'Outfit', sans-serif;
    /* colors */
    --paragraph: hsl(215, 51%, 70%);
    --active: hsl(178, 100%, 50%);
    --active2: hsl(178, 100%, 50%, .4);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --title: hsl(0, 0%, 100%);
    --shadow: hsl(218, 77%, 7%);
}

body {
    font-family: var(--font1);
    font-size: 18px;
    background-color: var(--mainBG);
}

.card__container {
    width: 300px;
    margin: 60px auto 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cardBG);
    box-shadow: 0 10px 20px var(--shadow);
}

.card__container a {
    text-decoration: none;
}

.card__picture {
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    line-height: 0;
}

.card__picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/icon-view.svg) no-repeat center, var(--active2);
    opacity: 0;
}

.card__picture:hover::before {
    opacity: 1;
    cursor: pointer;
}

.card__img {
    width: 100%;
}

.card__info__container {
    color: var(--paragraph);
}

.texts__title {
    color: var(--title);
    font-size: 1.2rem;
    margin: 15px 0;
}

.texts__title:hover {
    color: var(--active);
    cursor: pointer;
}

.texts__paragraph {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

.info__numbers {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.price__title {
    font-size: .9rem;
    color: var(--active);
}

.date__paragraph {
    font-size: .9rem;
}

.info__author {
    display: flex;
    padding-top: 15px;
    border-top: 1px solid var(--line);
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.author__picture {
    border: 2px solid var(--title);
    border-radius: 50%;
    line-height: 0;
    width: 30px;
    height: 30px;
}

.author__img {
    width: 100%;
}

.author__paragraph {
    font-size: .9rem;
}

.name {
    color: var(--title);
}

.name:hover {
    color: var(--active);
    cursor: pointer;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--paragraph);
}
.attribution a {
    color: var(--active);
}